.balance-row.active {
    background-color: #3c3c3c;
}

.balance-row:hover {
    background-color: #3c3c3c;
}

.balance-row {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 20px;
}

.balance-row:hover {
    cursor: pointer;
}

div.fm-outer-container {
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    margin-bottom: 20px;
}

@include breakpoint(large) {
    div.fm-container {
        > div:first-child() {
            padding-right: 15px;
        }

        > div:last-child() {
            padding-right: 15px;
        }
    }
}

div.fm-container {
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    padding: 1rem 0.5rem;
    min-width: 13rem;
    &:hover {
        background-color: #d8d8d8;
        cursor: pointer;
    }

    .fm-title,
    .fm-volume,
    .fm-change {
        font-size: 0.85rem;
    }

    .fm-name {
        font-weight: bold;
        padding-bottom: 10px;
    }

    .fm-volume,
    .fm-change {
        text-transform: lowercase;
        font-variant: small-caps;
        padding-top: 6px;
    }
}

.Dashboard__intro-text {
    padding: 20px;

    > p:nth-of-type(2) {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $border-color;
    }
}

.SimpleTrade__help-text {
    font-style: italic;
    padding-top: 5px;
    font-size: 95%;
}

div.button.create-account {
    font-size: 1.2rem;
}

div.input-wrapper {
    > div.input-right-symbol {
        font-size: 0.9rem;
        @include RobotoMedium;
        position: absolute;
        top: 12px;
        right: 8px;
    }
}

.SimpleDepositBridge__info-row {
    > div {
        padding-bottom: 5px;
        > div.float-right {
            clear: both;
            @include RobotoMedium;
        }
    }
}

// QR canvas
.QR {
    padding: 1rem;
    > canvas {
        background: white;
        padding: 0.5rem;
    }
}

.copyIcon {
    padding: 0.4rem;
    margin-right: 1rem;
    vertical-align: middle;
    > button.copyIcon {
        height: inherit;
    }
}
